*
{
    margin: 0px;
    padding: 0px;
}
.HeaderBand
{
    background-color: chartreuse;
    color: rgb(30, 30, 39);
    padding: 0;
    margin-bottom: 3;
    
}
#outerDivBoxforBankWorkComputer
{
    display: flex;
    height: 200px;
    border: 3px solid green;
}
.Child 
{
    border: solid 1px red;
    width: 50%;
    position:relative;
    margin: 10px;
}

#BalanceDisplay
{
    position: relative;
}

#BalanceNok
{
    position: relative;
}
#LoanButton
{
    position: relative;
    margin: auto;
}

#AccumulatedPay
{
    position: relative;
    width: 10%;
    margin-left: 5px;
}

#AccumulatedPayCurrency
{
    position: relative;
    width: 10%;
    margin-left: 5px;
}

#ComputerSelector
{
    position: relative;
    width: 60%;
    margin-left: 5px;
    top:10px;
}

#InfoOnFeatures
{
    position: absolute;
    display: flex;
    margin-left: 5px;
    top:70px;
}

#Features
{
    position: relative;
    margin-top: 50px;
    margin-left: 5px;
}

#ComputerInformationPanel
{
    width:70%;
    height: fit-content;
    position: relative;
    display: flex;
    margin: auto;
    margin-top: 5px;
    border: 3px solid red;
}

#ComputerImageViewer
{
    position: relative;
    margin:5px;
    width: 15%;
    height: 15%;
}

#ComputerDescription
{
    position: relative;
    margin:5px;
}

#ComputerPriceTag
{
    position: relative;
    margin: 5px;
}

#ComputerPrice
{
    position: relative;
    margin:5px;
}

#ComputerCurrency
{
    position: relative;
    margin: 5px;
}

#BuyButton
{
    position: relative;
    margin:5px;
    margin-top: 20px;
    width: 10%;
    height: 10%;
}
